.error-indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  color: #ffffff;
}

.error-indicator span {
  font-size: 1.2rem;
}
.error-indicator .oops {
  font-size: 2.7rem;
}
