.message-list {
  margin: 30px 0;
}

.message {
  list-style: none;
}

.listview .message {
  position: relative;
  display: block;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.lv-message .message {
  padding: 20px;
}

.lv-message .message.right {
  text-align: right;
}

.lv-message .message.right .avatar {
  margin-right: 0;
  margin-left: 15px;
}

.lv-message .message:not(.right) .text {
  background-color: #f5f5f5;
  color: #7c7c7c;
  box-shadow: 0 1.5px 0.5px rgba(0, 0, 0, 0.13);
}

.lv-message .message.right .text {
  background: #ecf0f1;
  box-shadow: 0 1.5px 0.5px rgba(0, 0, 0, 0.13);
  color: #7c7c7c;
}

.line-date {
  display: block;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.line-date:before,
.line-date:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #bd3a48;
  border: solid #fff;
  border-width: 0 10px;
}

.line-date:before {
  margin-left: -100%;
}

.line-date:after {
  margin-right: -100%;
}
