.body .fa {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff4250;
}

.body .liked {
  color: #ff4250;
}

.delete {
  order: -1;
}

.delete:hover {
  color: #ff4250;
}

.update {
  order: -1;
}

.update:hover {
  color: #ffa918;
}

.under-mess {
  justify-content: flex-end;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  margin-right: 15px;
  padding: 0 !important;
  text-transform: uppercase;
}

.avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: top;
}

.text {
  padding: 13px 19px 15px;
  border-radius: 2px;
  display: inline-block;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .text {
    max-width: 70%;
  }
}

.ms-date {
  display: block;
  color: #b3b3b3;
  margin-top: 7px;
  margin-left: 3px;
}

#ms-scrollbar::-webkit-scrollbar-track {
  background-color: #cccccc;
}

#ms-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

#ms-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

#ms-scrollbar {
  overflow: scroll;
  overflow-x: hidden;
  height: 520px;
}

.hidden {
  opacity: 0;
}

.message:hover .hidden {
  opacity: 1;
}
