.header {
  align-items: flex-end;
  border-bottom: 2px solid #000;
}

.header .logo {
  margin-right: auto;
}

.header h6 {
  margin-left: 30px;
}

.last-ms {
  justify-self: flex-end;
}

.header .btn {
  margin-left: 10px;
  margin-bottom: 3px;
  height: 50%;
  align-self: flex-end;
}
.header .name {
  align-self: flex-end;
  margin: 0;
}
